
<div class="container-fluid" >
    <table class="table">
        <thead>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">Genero</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas; ">
            <th scope="row">{{persona.id}}</th>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.fechaNac}}</td>
            <td>{{persona.genero}}</td>
          </tr>
        </tbody>
      </table>
</div>
